<footer>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!--
        instagram: www.instagram.com/programmingtutorial
        site: programlamadersleri.net
    -->
  <div class="container">
    <div class="row">

      <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-6 col-xs-12">
        <ul class="footer-list">
          <span>Adress</span>
          <li>
            <p>Lorem ipsum dolor sit amet, vero omnis vocibus</p>
          </li>

          <li>
            <p>+90 1234 56789</p>
          </li>

          <li>
            <p>info@gmail.com</p>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <ul class="footer-list">
          <span>Blogs</span>
          <li>
            <a href="#">Blog 1</a>
          </li>

          <li>
            <a href="#">Blog 2</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <ul class="footer-list">
          <span>Support</span>
          <li>
            <a href="#">Link 1</a>
          </li>

          <li>
            <a href="#">Link 2</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <ul class="footer-list">
          <span>Menu</span>
          <li>
            <a href="#">Home</a>
          </li>

          <li>
            <a href="#">About</a>
          </li>

          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>