<div *ngIf="chart">
  <form action="">
    <table>
      <tr>

        <th>
          <input type="radio" name="vars" id="battery" [(ngModel)]="vars" [ngModelOptions]="{standalone: true}" value="Battery">
          Battery
        </th>

        <th>
          <input type="radio" name="vars" id="current" [(ngModel)]="vars" [ngModelOptions]="{standalone: true}" value="Current">
          Current
        </th>

        <th>
          <input type="radio" name="vars" id="voltage" [(ngModel)]="vars" [ngModelOptions]="{standalone: true}" value="Voltage">
          Voltage
        </th>

        <th>
          <button (click)="showGraph()">Graph</button>
        </th>

        <th>
          <button (click)="clearGraph()">Clear</button>
        </th>

        <a class="btn btn-clear" title="Download JSON" [href]="downloadJsonHref" [download]="vars+'.json'"> Download data </a>

      </tr>
    </table>
  </form>
  <canvas id="canvas" *ngIf="show">{{ chart }}</canvas>
  <h1>Current values</h1>
  <h3>Battery : {{cBattery}} Date: {{cBatteryD}}</h3>
  <h3>Current : {{cCurrent}} Date: {{cCurrentD}}</h3>
  <h3>Voltage : {{cVoltage}} Date: {{cVoltageD}}</h3>
</div>