<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link src="/bootslog.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>

<head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link src="/bootslog.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>

<body id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Ceiba Solar EAFIT</h2>
          <p>Please enter your email and password</p>
        </div>
        <form id="Login">

          <div class="form-group">


            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">

          </div>

          <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">

          </div>
          <div class="forgot">
            <a href="reset.html" routerLink="user_dashboard">Forgot password?</a>
          </div>

          <div class="forgot">
            <a href="reset.html">Register</a>
          </div>
          <button type="submit" class="btn btn-primary" (click) = "login()">Login</button>

        </form>
      </div>
    </div>
  </div>

  <!-- Footer -->

  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4  col-md-4 col-sm-4">
          <div class="footer_dv">
            <h4>Information</h4>
            <ul>
              <li>
                <p>Some information</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4">
          <div class="footer_dv">
            <h4>Services</h4>
            <ul>
              <li>
                <p>Some information</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4">
          <div class="footer_dv">
            <h4>Contact us</h4>
            <p>Some information<br>


            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>

<router-outlet></router-outlet>