<footer>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


  <div class="container">
    <div class="row">

      <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-6 col-xs-12">
        <ul class="footer-list">
          <span>Information</span>

          <li>
            <a href="http://www.eafit.edu.co/">EAFIT</a>
          </li>


        </ul>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <ul class="footer-list">
          <span>Contact</span>
          <li>
            <a href="http://www.eafit.edu.co/">EAFIT</a>
          </li>

          <li>
            <a href="http://www.eafit.edu.co/investigacion/grupos/grid/Paginas/grid.aspx">GRID</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <ul class="footer-list">
          <span>Home</span>
          <li>
            <a href="/">Login</a>
          </li>

          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>